* {
  margin: 0px;
}

header {
  background-color: #3a89ff;
  color: white;
}

.navbar {
  background-color: --bs-primary-bg-subtle;
}

.container-city-searched {
  padding: 5px;
  border-radius: 5px;
  background-color: #cadfff;
  justify-content: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  padding: 5px;
}

.container-city-forecast {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;
}

.column {
  float: left;
  padding: 10px;
}

.left {
  width: 30%;
}

.right {
  width: 70%;
}